html {
    height: 100%;
}

#header {
    text-align: center;
    color: #ffffff;
}

#assetPane {
    height: 500px;
    float: left;
    border-radius: 10px;
    width: 20%;
}

#assetLibrary {
    margin: 10px;
}

#content {
    height: 500px;
    float: left;
    width: 80%;
}

.sourceName {
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

li {
    background-color: blue;
    margin: 20px;
    border-radius:25px;
    width: 125px;
}

li:nth-child(odd) {
    background-color: #253E25;
}

li:nth-child(even) {
    background-color: #4C7E4C;
}

.sourceName {
    cursor: hand;
}

.source {
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 10px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.source img {
    height: 22px;
    width: 38px;
    vertical-align: middle;
}

.source span {
    margin-left: 5px;
    padding-bottom: 10px;
    font-size: 10px;
}

.controlButtons {

}

.actionButton {
    border: none;
    padding: 2px 8px;
    background-color: #2B507D;
    border-radius: 10px;
    margin-left: 75px;
    width: 120px;
    height: 50px;

}
.actionButton:hover {
    border: none;
    padding: 2px 8px;
    background-color: #729BCE;
}

#footer {
    clear: both;
    text-align: center;
}

.videoWall {
    margin: 50px;
}

.populatedPanel {
    height: 130px;
    width: 230px;
    z-index: 99999;
}

.panel {
    height: 130px;
    width: 230px;
    border: 1px green solid;
    background-color: #989898;
    float: left;
}

.panel.hovered {
    background-color: red;
}

body {
    margin: 0;
    padding: 0;
    height: 90%;
    background-color: #4C4C4C;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}



