<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.fatcat.webcinenet"
        versionCode="10"
        version="1.1.0">

    <name>CineNet - On The Web</name>

    <description>
	Simple Web Controller for CineNet
    </description>

    <author href="http://careers.stackoverflow.com/davidbasarab" email="david.basarab@cinemassivedisplays.com">
        David Basarab
    </author>

    <access origin="*" subdomains="true"/>

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>